{% extends 'base.html.twig'%}

{# 
  action="" means after clicking the button Enregister, which
  typically submits the data to the DB, I want to comeback to this page.

  What does form_widget(formArticle) mean ?
  it returns everything inside the formArticle created by method create() inside BlogController

  What does form_error(formArticle.title) do ?
  it's a function call where you can use it to customize the errors CSS.
  in this it's useful if you don't want to use Bootstrap.
  #}
{% block body %}
<h1>Creation d'un article!</h1>
{# 
<form action="" method='post'>
  <input type="text" name="title" placeholder="Titre de larticle">
  <textarea name="content" placeholder="Contenu de larticle"></textarea>
  <input type="text" name="image" placeholder="image de larticle">
  <button type="submit">Enregistrer</button> #}
{{form_start(formArticle)}}

{# <div class="form-group">
  <label for="">Title</label>
  {{ form_widget(formArticle.title)}}
</div>

<div class="form-group">
  <label for="">Contenu</label>
  {{ form_widget(formArticle.content)}}
</div>

<div class="form-group">
  <label for="">Image</label>
  {{ form_widget(formArticle.image)}}
</div> #}

{# {{form_widget(formArticle)}} #}

{# {{form_error(formArticle.title)}} #}
{{form_row(formArticle.title, {
  'attr':{'placeholder':'Title de larticle'}
})}}
{{form_row(formArticle.category)}}
{{form_row(formArticle.content, {
  'attr':{'placeholder':'Contenu de larticle'}
})}}
{{form_row(formArticle.image, {
  'attr':{'placeholder':'URL de limage'}
})}}


<button type='submit' class="btn btn-success">
  {% if editMode %}
  Enregistrer
  {% else %}
  Ajouter larticle
  {% endif %}
</button>

{{form_end(formArticle) }}


{% endblock body %}