{% extends 'base.html.twig' %}
{# 
This was generated empty with the controller: BlogController.php then we
filled it up with code.
#}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">
    {% for article in articles %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{article.createdAt | date('d/m/Y') }} a {{article.createdAt | date('H:i')}} dans
            la categorie politique</div>
        <div class="content">
            <img src="{{article.image}}" alt="">
            {{article.content | raw }}
            <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">lire la suite</a>
        </div>
    </article>
    {% endfor %}
</section>

{% endblock %}