{% extends 'base.html.twig' %}

{# This page shows more info about each article clicked article #}

{% block body %}
<article>
  <h2>{{article.title}}</h2>
  <div class="metadata">Ecrit le {{article.createdAt | date('d/m/Y')}} a {{article.createdAt | date('H:i')}} dans la
    categorie politique</div>
  <div class="content">
    <img src="{{article.image}}" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dignissimos. Ducimus possimus amet aut
      asperiores?</p>
    <p>Nesciunt atque deserunt, temporibus, modi esse inventore itaque tempora, eum nam quaerat cupiditate ipsa
      suscipit.</p>
    <hr>
    {{article.content | raw}}
  </div>
</article>
{% endblock body %}